.header {
  height: var(--header-height);
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-standard); /* side padding */
}

.logo {
  height: 80px;
  width: auto;
}

.slogan {
  color: var(--color-accent);
}
